.img{
    position: absolute;
    top: 800px;
    left: 0;
    width: 500px;
    z-index: -10;
}
.img3{
    position: absolute;
    top: 750px;
    right: 0;
    width: 400px;
    z-index: -10;
    transform: rotate(180deg);
}
.img2{
    position: absolute;
    top: 2300px;
    left: 0;
    width: 500px;
    z-index: 10;

    /* transform: rotate(180deg); */
}
.img4{
    position: absolute;
    top: 2300px;
    right: 0;
    width: 500px;
    z-index: 10;

    transform: rotate(180deg);
}

@media screen and (max-width:1200px) {
    .img{
        position: absolute;
        top: 700px;
        left: 0;
        width: 200px;
        z-index: -10;
    }
    .img3{
        position: absolute;
        top: 700px;
        right: 0;
        width: 200px;
        z-index: -10;
        transform: rotate(180deg);
    }
    .img2{
        position: absolute;
        top: 2500px;
        left: 0;
        width: 200px;
        z-index: 10;
    
        /* transform: rotate(180deg); */
    }
    .img4{
        position: absolute;
        top: 2500px;
        right: 0;
        width: 200px;
        z-index: 10;
    
        transform: rotate(180deg);
    }
      
}